extends layout

block content
  title = fwa51vasana
  h1 = title
  p Welcome to #{title}
  p My craziest injury happened when i was a kid, my mom is on her way to kitchen with hot oil I accidentally dashed and there the hot oil fell on me but, I haven,t cried.